/*------Footer Section Start--------*/
/*------Footer Section Start--------*/
.footer-top {
	padding-top: 272px;
	overflow: hidden;
	.widget-items {
		.footer-head {
			margin-bottom: 20px;
			.title {
				font-weight: 600;
				color: var(--white-color);
			}
		}
		.content-area {
			.quick-link {
				li {
					display: flex;
					align-items: center;
					transition: all 0.5s;
					margin-left: -20px;
					&:not(:last-child) {
						margin-bottom: 13px;
					}
					a {
						@include flex;
						font-size: 18px;
						color: var(--white-color);
						transition: all 0.5s;
						position: relative;
						img{
							margin-right: 5px;
							opacity: 0;
							transition: all 0.5s;
						}
					}
					&:hover{
						margin-left: 10px;
						a{
							color: var(--secoundary-color);
							img{
								opacity: 1;
							}
						}
					}
				}
			}
			.contact{
				li{
					&:not(:last-child){
						margin-bottom: 15px;
					}
					@include flex;
					i{
						font-size: 18px;
						margin-right: 8px;
					}
					a{
						font-size: 18px;
						transition: all 0.3s;
					}
					&:hover{
						a{
							color: var(--secoundary-color);
						}
					}
				}
			}
		}
		.footer-social{
			li{
				&:not(:last-child){
					margin-bottom: 13px;
				}
				a{
					@include flex;
					.icon{
						@include radius;
						background: var(--primary-color);
						border: unset;
						border-radius: 5px;
					}
					span{
						font-size: 18px;
						padding-left: 10px;
					}
				}
			}
		}
	}
}
.footer-bottom {
	position: relative;
	@include wrap;
	border-bottom: 1px solid var(--border-color);
	padding-bottom: 30px;
	.footer-bottom-link {
		display: flex;
		align-items: center;
		li {
			&:not(:last-child) {
				margin-right: 12px;
			}
			a {
				color: var(--white-color);
				font-size: 18px;
				font-weight: 500;
				display: block;
				transition: all 0.3s;
				&:hover {
					color: var(--theme-color);
				}
			}
		}
	}
}
.main-bottom{
	padding: 30px 0;
	@include justify;
	align-items: center;
	p{
		color: var(--white-color);
		font-size: 18px;
		margin-bottom: 0;
		a{
			color: var(--secoundary-color);
			font-weight: 500;
		}
	}
	.nice-select{
		.list{
			bottom: 100%;
		}
	}
	.footer-bottom-selcet{
		@include flex;
		li{
			font-size: 18px;
			&:not(:last-child){
				margin-right: 30px;
			}
			.nice-select{
				padding: 9px 35px 11px 15px;
				.current{
					font-size: 14px;
				}
			}
			.form-select{
				padding: 8px 35px 8px 15px;
				background-color: transparent;
				color: var(--white-color);
				border: 1px solid #9276d7;
				outline: none;
				box-shadow: none;
				option{
					padding: 20px;
					color: var(--section-bg);
				}
			}
		}
	}
}

///selecttor

/*------Footer Section End--------*/
/*------Footer Section End--------*/
